<h2>List Friends</h2>
<%= link_to "add user to friends list", show_friend_path, class: "btn btn-secondary" %>
<div style="margin-top: 10px;">
	<ul>
		<% for user in @friend_list %>
			<li>
				<%=h user.name %>
				<%= user.email %>
				(<%= link_to "remove", user, :method => :delete %>)
			</li>
		<% end %>
	</ul>
</div>
